In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_file = "Raw Data/crimes-new-york-city/NYPD_Complaint_Data_Historic.csv"
crime_df = pd.read_csv(csv_file)
crime_df.head()

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [26]:
new_crime_df=crime_df[['OFNS_DESC','BORO_NM','Lat_Lon']].copy()
new_crime_df

,OFNS_DESC,BORO_NM,Lat_Lon
0,FORGERY,BRONX,"(40.828848333, -73.916661142)"
1,MURDER & NON-NEGL. MANSLAUGHTER,QUEENS,"(40.697338138, -73.784556739)"
2,DANGEROUS DRUGS,MANHATTAN,"(40.802606608, -73.945051911)"
3,ASSAULT 3 & RELATED OFFENSES,QUEENS,"(40.654549444, -73.726338791)"
4,ASSAULT 3 & RELATED OFFENSES,MANHATTAN,"(40.7380024, -73.98789129)"
...,...,...,...
1048570,PETIT LARCENY,BRONX,"(40.806931888, -73.920766811)"
1048571,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,"(40.660901484, -73.895226891)"
1048572,CRIMINAL MISCHIEF & RELATED OF,MANHATTAN,"(40.723908621, -74.004680695)"
1048573,DANGEROUS DRUGS,BRONX,"(40.877554428, -73.872939471)"
1048574,DANGEROUS WEAPONS,MANHATTAN,"(40.814113161, -73.940855365)"

In [27]:
new1=new_crime_df.rename(columns={'OFNS_DESC':'Crime_Type','BORO_NM':'Borough'})

In [28]:
#new2=new1.set_index("Borough")

In [36]:
new1['ID']=new1['Borough']
new2=new1.replace({'ID':{"MANHATTAN":1,"BRONX":2,"BROOKLYN":3,"QUEENS":4,"STATEN ISLAND":5}})
new2

,Crime_Type,Borough,Lat_Lon,ID
0,FORGERY,BRONX,"(40.828848333, -73.916661142)",2
1,MURDER & NON-NEGL. MANSLAUGHTER,QUEENS,"(40.697338138, -73.784556739)",4
2,DANGEROUS DRUGS,MANHATTAN,"(40.802606608, -73.945051911)",1
3,ASSAULT 3 & RELATED OFFENSES,QUEENS,"(40.654549444, -73.726338791)",4
4,ASSAULT 3 & RELATED OFFENSES,MANHATTAN,"(40.7380024, -73.98789129)",1
...,...,...,...,...
1048570,PETIT LARCENY,BRONX,"(40.806931888, -73.920766811)",2
1048571,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,"(40.660901484, -73.895226891)",3
1048572,CRIMINAL MISCHIEF & RELATED OF,MANHATTAN,"(40.723908621, -74.004680695)",1
1048573,DANGEROUS DRUGS,BRONX,"(40.877554428, -73.872939471)",2
1048574,DANGEROUS WEAPONS,MANHATTAN,"(40.814113161, -73.940855365)",1